.header{
   /* border: 1px solid #000;*/
   padding: 30px;
    background-color: aqua;
}

.li{
    margin-left: 25px;
    display: inline-block;
}

.ul{
    text-align: right;
}

.nav{
    /* border: 1px solid #000; */
    background-color: yellow;
   width: 400px;
   height: 460px;
   padding: 10px;
}

.article{
    /* border: 1px solid #000; */
    background-color: red;
   margin-left: 10px;
   margin-right: 10px;
   margin-top: 20px;
    padding: 35px;
}

.footer{
    /* border: 1px solid #000; */
    background-color: blueviolet;
    height: 75px;
}

.asaide{
    background-color: #FBE7E3;
}

.imagen{
    width: 80px;
    float: left;
}

